
._light {
  background-color: rgba(205, 205, 205, 1);
  color: black;
}

._dark {
  background-color: rgba(50, 50, 50, 1);
  color: white;
}

.default {
  width: 100%;

  padding: 5%;
}

.landing {
  composes: default;
  height: 100vh;

  background-color: black;
  color: white;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: 3rem;
  }

  p {
    align-self: flex-end;
    font-size: 1.5rem;
  }
}

.about {
  composes: default;
  composes: _light;
}

.tech {
  composes: default;
  composes: _dark;
}

.projects {
  composes: default;
  composes: _light;
}